
/StoreApplication/AletUSA/obj/Debug
/StoreApplication/_ReSharper.StoreApplication/PdbInfo/228eb5daa4086baf26661dad9fe6018a2e46c8ec
/StoreApplication/_ReSharper.StoreApplication/PdbInfo/a328a33f7b530a24f2cb59dfa17c8a52aefa26e7
/StoreApplication/_ReSharper.StoreApplication
/StoreApplication/AletUSA/obj
/StoreApplication/AletUSA/bin
/StoreApplication/Aktel.Domain/bin
/StoreApplication/Aktel.Domain/obj
/StoreApplication/Persistance/obj
/StoreApplication/Persistance/bin
/StoreApplication/_ReSharper.StoreApplication
/StoreApplication/_ReSharper.StoreApplication