<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Aktel.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <add name="DataSource" connectionString="Data Source=SOURABH-PC\SQLEXPRESS2005;Initial Catalog=Aktel_Dev;Integrated Security=SSPI;"/>
  <applicationSettings>
    <Aktel.Domain.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=SOURABH-PC\SQLEXPRESS2005;Initial Catalog=Aktel_Dev;Integrated Security=SSPI;</value>
      </setting>
    </Aktel.Domain.Properties.Settings>
  </applicationSettings>
</configuration>