<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Persistance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DataSource" connectionString="Data Source=twisterwireless.com;Initial Catalog=Aktel_Dev1;Integrated Security=SSPI;"/>
  </connectionStrings>
  <applicationSettings>
    <Persistance.Properties.Settings>
      <setting name="connectionString" serializeAs="String">
        <value>Server=twisterwireless.com;database=Aktel_Dev1;Integrated Security=SSPI;</value>
      </setting>
      <setting name="dataSource" serializeAs="String">
        <value>Data Source=twisterwireless.com;Initial Catalog=Aktel_Dev1;Integrated Security=SSPI;</value>
      </setting>
    </Persistance.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
