.subnavlists
{	
	top: 38px; left:0;
	background:	#C0C0C0;
	float: left;
	/*--Bottom right rounded corner--*/
	-moz-border-radius:0px 0px 10px 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 3px;	
	border:2px solid #676767;
	color:#3e4044;
	width:87.2%;
	margin: 0 10px;
}



.Listof4_display
{
	width: 21%;
	display: inline-block;
	float:left;
	border-bottom: 1px dotted black;
	text-align: center;
	padding: 10px;
}

.Product_Category:hover
{
	color: Chocolate;
}

.content_title
{
	display: block;
	font-size: 1.2em;
	padding: .5em 1em .5em 1em;
	background-color: #43433A;
	-moz-border-radius: 10px 10px 2px 2px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #43433A;
	margin-bottom: 0;
	color: #FFFFFF;
}

.content_content
{	
	padding: 5px 2px 5px 10px;
	border-top: 0;
	border: solid 0.5px #43433A;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto;
	display: block;
	background-color: White;
}
.sidebar_title
{
	display: block;
	font-size: 1.2em;
	padding: .1em 1em .1em 1em;
	background-color: #43433A;
	border: 1px solid #43433A;
	margin-bottom: 0;
	color: #FFFFFF;
}

.sidebar_content
{	
	padding: 5px 2px 5px 15px;
	border-top: 0;
	border: solid 0.5px #43433A;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto;
	display: block;
	background-color: White;
}

.productViewer
{
	width: 33%;
	display: inline-block;
	border-bottom: 1px dotted black;
	text-align: center;
	padding-top: 5px;
}

/*-----------------------------------------------------------*/

#nav{
	height:32px;
	line-height:32px;
	background:#43433A;
	padding:0px 0px 3px 100px;
}
#nav ul,
#nav ul li {
	margin:0;
	padding:0;
	list-style:none;
}
#nav ul li{
	float:left;
	display:block;	
}

#nav ul li a:link,
#nav ul li a:visited{
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:0 20px 0 6px;
	display:block;
}
#nav ul li a:hover{
	color:#EBEFF7;
	color#3e4044;;
	text-decoration:underline;
}
#nav ul li ul li{
	float:none;
	display:block;
}
#nav ul li ul li a:link,
#nav ul li ul li a:visited{
	color:#444;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:0 10px;
	clear:both;
	border-bottom:solid 1px #DEDEDE;
}
#nav ul li ul li a:hover{
	color:#3B5998;
}

.submenu {
	position: absolute;
	width: 600px;
	background: #FFF;
	padding: 10px;
	border: solid 1px #2E4B88;
	border-top: none;
	display: none;
	line-height: 26px;
	z-index: 1000;
}